node_modules/

# Expo

.expo/
.expo-shared/
dist/
web-build/

# Environment

.env
.env.*
!.env.example

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS

.DS_Store

# VS Code

.vscode/

# Android

android/.gradle/
android/app/build/
*.keystore
*.jks

# iOS

ios/build/
*.xcworkspace

# Metro

.metro-health-check*

# Testing

coverage/

# TypeScript

*.tsbuildinfo
